body {
	background-color: lavender;
	color: white;
}

#header-nav {
	background-color: #008080;
	border-radius: 0;
	border:0px;
}

h1 {
	color: white;
} 
.navbar-brand {
	margin-bottom: 30px;
} 
.navbar-brand a:hover, .navbar-brand a:active {
	text-decoration: none;
}
#nav-list a {
	color: black;
	text-align: center;
	font-size: 1.6em;
	margin-top: 15px;
}
#nav-list a:hover {
	background: lightgreen;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}
.navbar-header button.navbar-toggle {
	clear: both;
}


#main-content {
	background: #2F4F4F;
}

.story span {
	font-weight: bold;
	text-transform: uppercase;
	color: red;
}
.img {
/*	float: left; */
	padding: 15px;
}
#players-body {
	color: black;
	font-size: 17px;
}
#transfer-body {
	color: black;
}
#news-body {
	background-color: white;
	color: black;
}
p {
	font-family: serif;
}

}
#latest-game {
	background: #2F4F4F;
	color: white;
}
.news {
	font-size: 1.2em;
}
#rich-clubs {
	background: #2F4F4F;
}
#news1-body {
	background: grey;
	color: black;
}
li {
	padding: 5px;
	font-size: 16px;
}
#news1-img {
	padding: 15px;
}
.news1-text {
	font-size: 20px
}
.red {
	color: red;
}
.blue {
	color: blue;
}
.lightblue {
	color: lightblue;

}
.white {
	color: white;
}
h3 {
	text-transform: uppercase;
	padding: 10px;
}
.img-left {
	float: left;
	padding: 10px;
}

h4,h5 {
	color: green;
	font-weight: bold;
}
.div-length {
	width: 700px;
}
.image {
	padding: 10px;
}
.top {
	margin-top: 30px;
}
.story-sm {
	background: white;
	font-family: fantasy;
}
.story2-sm {
	background: white;
	font-family: fantasy;
}
a:hover, a:active {
	text-decoration: none;
}
.griezmann {
	float: left;
	margin-right: 1200px;
}
.top2 {
	margin-top: 30px;
}
#transfer-content {
}


@media (min-width: 1200px) {

	#latest-game {
		margin-top: 20px;
		width: 33%;
	}

	#rich-clubs {
	width: 33%;
	margin-top: 20px;
	margin-bottom:	
	}

.yaya-div h3 {
	width: 600px;
	position: absolute;
	top: 330px;
	left: 30px;
	background: black;
	color: white;
}

.p-length {
	width: 1000px;
	font-size: 20px;
}

}

@media (min-width: 992px) and (max-width: 1199px) {

	#latest-game {
		margin-top: 20px;
		width: 33%;
	}

	#rich-clubs {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 33%;
}
	h3 {
		font-size: 1.5em;
	}

	.yaya-div h3 {
	width: 600px;
	position: absolute;
	top: 330px;
	left: 30px;
	background: black;
	color: white;
}
.p-length {
	width: 800px;
	font-size: 20px;

}
#toure {
	width: 800px;
}

}

@media (min-width: 768px) and (max-width: 991px) {

	#latest-game {
		margin-top: 20px;
		width: 33%;
	}

	#rich-clubs {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 33%;
}
	h3 {
		font-size: 1.5em;
	}
	.yaya-div h3 {
	width: 600px;
	position: absolute;
	top: 330px;
	left: 30px;
	background: black;
	color: white;
}
.p-length {
	width: 600px;
	font-size: 20px;

}
#toure {
	width: 700px;
}

}

@media (max-width: 767px) {
	
	body {
		background: lavender;
		margin: 10px;
	}

	#main-content {
		background: white;
	}
	.navbar-brand {
		padding-top: 10px;
	}
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 1.6em;
	}
	.col-xs-3 {
		width: auto;
	}
	img {
		width: 300px;
	}
	#latest-game {
		background: aliceblue;
		color: black;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	#rich-clubs {
		background: aliceblue;
		color: black;
		margin: auto;
		margin-bottom: 10px;
	}
	#main-content {
		margin: 20px;
	}
	#rich-guys {
		background: aliceblue;
		color: black;
		margin: auto;
	}
	#lampard {27	height: 300px;
	}
	.yaya-div {
		background: white;
	}
	.yaya-div h3 {
		font-family: fantasy;
	}
}
@media (max-width: 321px) {
	.image {
		width: 270px;
	}
}
