body {
	background-color: lightgreen;
	color: white;
}
#header-nav {
	background-color: #008080;
	border-radius: 0;
	border:0px;
}
/*
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: lightgreen;

li {
	float: left;
}
li a {
	display:  block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover, a:active {
	background: green;
}

*/
h1 {
	color: white;
} 
.navbar-brand {
	margin-bottom: 30px;
} 
.navbar-brand a:hover, .navbar-brand a:active {
	text-decoration: none;
}
#nav-list a {
	color: black;
	text-align: center;
	font-size: 1.6em;
	margin-top: 15px;
}
#nav-list a:hover {
	background: lightgreen;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}
.navbar-header button.navbar-toggle {
	clear: both;
}


@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {
	.navbar-brand {
		padding-top: 10px;
	}
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 1.6em;
	}
	.col-xs-3 {
		width: 75%;
	}
	img {
		width: 300px;
	}


}

.story span {
	font-weight: bold;
	text-transform: uppercase;
	color: red;
}
.img {
/*	float: left; */
	padding: 15px;
}
#news-body {
	background-color: white;
	color: black;
}
p {
	font-family: serif;
}
#leo-body {
	background: black;
	color: white;
}
#latest-game {
	margin: 50px;
	background: green;
}
.news {
	font-size: 1.2em;
}