body {
	background-color: lightgreen;
	color: white;
}

#header-nav {
	background-color: #008080;
	border-radius: 0;
	border:0px;
}

h1 {
	color: white;
} 
.navbar-brand {
	margin-bottom: 30px;
} 
.navbar-brand a:hover, .navbar-brand a:active {
	text-decoration: none;
}
#nav-list a {
	color: black;
	text-align: center;
	font-size: 1.6em;
	margin-top: 15px;
}
#nav-list a:hover {
	background: lightgreen;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}
.navbar-header button.navbar-toggle {
	clear: both;
}



.story span {
	font-weight: bold;
	text-transform: uppercase;
	color: red;
}
.img {
/*	float: left; */
	padding: 15px;
}
#news-body {
	background-color: white;
	color: black;
}
p {
	font-family: serif;
}
#leo-body {
	background: black;
	color: white;
}
#latest-game {
	margin:;
	background: green;
}
.news {
	font-size: 1.2em;
}
#rich-clubs {
	background-color: black;
}
#news1-body {
	background: grey;
	color: black;
}
li {
	padding: 5px;
	font-size: 16px;
}
#news1-img {
	padding: 15px;
}
.news1-text {
	font-size: 20px
}
.red {
	color: red;
}
.blue {
	color: blue;
}
.lightblue {
	color: lightblue;

}
.white {
	color: white;
}
#main-content {
	background: grey;
}


@media (min-width: 1200px) {

	#latest-game {
		margin-top: 20px;
		width: 33%;
	}

	#rich-clubs {
	background-color: black;
	width: 33%;
	margin-top: 20px;
	margin-bottom: 20px;
}

}

@media (min-width: 992px) and (max-width: 1199px) {

	#latest-game {
		margin-top: 20px;
		width: 33%;
	}

	#rich-clubs {
	background-color: black;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 33%;
}
	h3 {
		font-size: 1.5em;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#latest-game {
		margin-top: 20px;
		width: 33%;
	}

	#rich-clubs {
	background-color: black;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 33%;
}
	h3 {
		font-size: 1.5em;
	}
}

@media (max-width: 767px) {
	
	body {
		background: lavender;
		margin: 10px;
	}

	#header-nav {
	background-color: #008080;
	border-radius: 0;
	border:0px;
}

h1 {
	color: white;
} 
.navbar-brand {
	margin-bottom: 30px;
} 
.navbar-brand a:hover, .navbar-brand a:active {
	text-decoration: none;
}
#nav-list a {
	color: black;
	text-align: center;
	font-size: 1.6em;
	margin-top: 15px;
}
#nav-list a:hover {
	background: lightgreen;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}
.navbar-header button.navbar-toggle {
	clear: both;
}


	
	#main-content {
		background: white;
	}
	.navbar-brand {
		padding-top: 10px;
	}
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 1.6em;
	}
	.col-xs-3 {
		width: auto;
	}
	img {
		width: 300px;
	}
	#latest-game {
		background: aliceblue;
		color: black;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	#rich-clubs {
		background: aliceblue;
		color: black;
		margin: auto;
		margin-bottom: 10px;
	}
	#main-content {
		margin: 20px;
	}
}
@media (max-width: 321px) {
	
}
